* {
    font-family: Arial, Helvetica, sans-serif;
}
header {    
    display: flex;
    justify-content: center;
    height: 120px;    
    background: #000;
    background: -webkit-linear-gradient(0deg , #FA6D01, #fff);
    background: linear-gradient(0deg, #FA6D01, #fff);    
}
.container {
    display: flex;
    justify-content: center;
    width: 990px;    
}
header h1 {
    text-align: center;    
    margin: 20px 10px;
    color: #fff;
    text-shadow: 2px 2px 1px #333;    
}
article {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(180deg , #FA6D01, #FFA500);
    background: linear-gradient(180deg, #FA6D01, #FFA500);        
}
.column {
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;    
}
.image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
article figure {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;       
    border: 1px solid #fff;
    padding: 5px;
    width: 300px;
    height: auto;
    box-shadow: 3px 5px 1px #555;
}
figure figcaption {
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
article .carreira {
    color: #000;
    text-align: center;
    margin-top: 30px;
}
.carreira p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;  
    text-indent: 40px;  
}
article .trofeu {
    margin-top: 60px;
    margin-bottom: 60px;
}
article .premios {
    display: flex;
    justify-content: center;
    color: #000;
    margin-bottom: 20px;    
}
.trofeu .borda,
.trofeu .premio {
    background-color: #333;
    margin: 3px;
    box-shadow: 1px 1px 1px #000;
    color: #fff;
}
.trofeu h3 {
    text-align: center;
    color: #000;
    margin-bottom: 10px;    
}
.trofeu .ano {
    background-color: #ddd;    
    padding: 3px;
    box-shadow: 1px 1px 1px #000;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    background: #000;
    background: -webkit-linear-gradient(180deg , #FFA500, #fff);
    background: linear-gradient(180deg, #FFA500, #fff);    
}
footer .footer_end {    
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px; 
    margin-bottom: 10px;              
}
.footer_end p {
    color: #000;        
}

@media(max-width: 990px) {
    header h1 {
        font-size: 30px;
    }
    .container {
        margin: 0px 10px;
    }
}